<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/Scripts/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
    function OpenAddSctionDialog(data) {
        dialog.html(data);
        dialog.dialog('open');
        tinyMCE.init({
				mode : "textareas",
				theme : "simple"
			});
    }
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
