@model TeachPlan.Active
<script>
   
    var dialog;
    $(function () {
        $("#tabs").tabs();
        dialog = $('#saveDialog').dialog({
            autoOpen: false,
            width: 450,
            resizable: false,
            modal: true
        });
    });
    function OnAddActiveSucess(data) {
        alert(data);
        dialog.dialog("close");
    }
</script>
@using (Ajax.BeginForm("AddActive", "Home", new AjaxOptions
{
    OnSuccess = "OnAddActiveSucess"
}, new { @id = "addActiveForm" }))
{
    <div class="editor-label">
        名称
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="editor-label">
        属性
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Property)
        @Html.ValidationMessageFor(m => m.Property)
    </div>

    <div class="editor-label">
        条件
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Condition)
        @Html.ValidationMessageFor(m => m.Condition)
    </div>
    <div class="editor-label">
        学科
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Subject_Id, TeachPlan.Controllers.PlanController.getAllSubjects())
    </div>
    <div class="editor-label">
        阶段
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Phase_Id, TeachPlan.Controllers.PlanController.getAllPhases())
    </div>
    <div class="editor-label">
        内容
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Content_Id, TeachPlan.Controllers.PlanController.getAllContents())
    </div>
    <div class="editor-label">
        组织形式
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.Form_Id, TeachPlan.Controllers.PlanController.getAllForms())
    </div>
    <div class="editor-field">
    <div id="container"></div>
	     @Html.HiddenFor(m => m.Plan_Id)
    </div>
    @Ajax.ActionLink(
    "添加新步骤", 
    "ShowPreSetSteps",
    new {acitveId=Model.MyId}, 
    new AjaxOptions{OnSuccess = "OpenAddSctionDialog"}, 
   	new { @class = "action" }
   )
    <div id="steps">
    	@Html.Partial("_ActiveSteps",Model)
    </div>
    <input id="submit" type="submit" value="提交" />
}<div id="saveDialog" title="增加新步骤">