@{
    ViewBag.Title = "活动模块库";
}
<h2>活动模块库</h2>
    <div>

    <fieldset>
            <legend>检索</legend>
            @using (Ajax.BeginForm("SearchActives", "Active", new AjaxOptions
{
    OnSuccess = "OnSearchActiveSuccess",
    UpdateTargetId = "Actives",
    InsertionMode = InsertionMode.Replace
}, new { @id = "serachActiveForm" }))
{
@Html.Action("Subjects")
@Html.Action("Phases")
@Html.Action("Contents")
@Html.Action("Forms")
    <input type="submit" value="Submit"/>
    }
           </fieldset>
</div>
           @Ajax.ActionLink("添加新活动", "AddActive", "Active", new { planId = 0 }, new AjaxOptions
   {
       OnSuccess = "OpenAddSctionDialog"
   }, new { @class = "action" })
    <fieldset>
            <legend>活动列表</legend>
            <div id="Actives">
@Html.Action("SearchActives",new {userId=(int)Session["user"],formId=0,subjectId=0,phaseId=0,contentId=0})
            </div>
    </fieldset>

    <script>
    var dialog;
    $(function () {
        $("#tabs").tabs();
        dialog = $('#saveDialog').dialog({
            autoOpen: false,
            width: 450,
            resizable: false,
            modal: true
        });
    });
    function OnAddActiveSucess(data) {
        alert(data);
        dialog.dialog("close");
    }
</script>
<div id="saveDialog" title="增加新活动">
</div>