@model TeachPlan.UserInfo
@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["user"] != null)
{
    @Html.ActionLink("Plan", "Index", "Plan");<br />
    @Html.ActionLink("Active", "Index", "Active");<br />
    @Html.ActionLink("Knowledge", "Index", "Knowledge");
}
else
{
    using (Html.BeginForm())
    {
    <div>
        <fieldset>
            <legend>登陆</legend>
            <div>
                @Html.TextBoxFor(m => m.Name)
            </div>
            <div>
                @Html.PasswordFor(m => m.PWD)
            </div>
            <div>
                <input type="submit" value="登陆" />
            </div>
        </fieldset>
    </div>
    }
}