@model Models.PlanDetail
<div class="editor-label">
    标题
</div>
<div class="editor-field">
    @Model.Name
</div>
<div class="editor-label">
    课时名称
</div>
<div class="editor-field">
    @Model.ClassName
</div>
<div class="editor-label">
    单位
</div>
<div class="editor-field">
    @Model.Organiser
</div>
<div class="editor-label">
    公开
</div>
<div class="editor-field">
    @Model.Public
</div>
<div class="editor-label">
    学科
</div>
<div class="editor-field">
    @Model.Subject.Name
</div>
<div class="editor-label">
    年级
</div>
<div class="editor-field">
    @Model.Grade.Name
</div>
<div class="editor-label">
    教材
</div>
<div class="editor-field">
    @Model.Textbook.Name
</div>
