@model TeachPlan.Plan



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Plan</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desc)
            @Html.ValidationMessageFor(model => model.Desc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Organiser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Organiser)
            @Html.ValidationMessageFor(model => model.Organiser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Refer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Refer)
            @Html.ValidationMessageFor(model => model.Refer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Public)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Public)
            @Html.ValidationMessageFor(model => model.Public)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClassName)
            @Html.ValidationMessageFor(model => model.ClassName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


