@{
    ViewBag.Title = "知识库";
}
    <h2>知识库</h2>

<script type="text/javascript">
	

</script>
    <script type="text/javascript">
		$(document).ready(function() {
			dialog = $('#saveDialog').dialog({
	            autoOpen: false,
	            width: 450,
	            resizable: false,
	            modal: true
	        });
		});
function onAddKnowledge(data){

		}
function OpenAddSctionDialog(data) {
        dialog.html(data);
        dialog.dialog('open');
        tinyMCE.init({
				mode : "textareas",
				theme : "simple"
			});
    }
	</script>
	@Ajax.ActionLink("添加新知识", "AddKnowledge", "Knowledge", null, new AjaxOptions
   {
       OnSuccess = "OpenAddSctionDialog"
   }, new { @class = "action" })
<div>
   <fieldset>
            <legend>分类</legend>
@Html.Action("CategoryTree")
            </fieldset>
            </div>
            <div><fieldset><legend>最近评论</legend>

@Html.Action("LastCommentKnowledge")
            </fieldset></div>
<div><fieldset><legend>最近查看</legend>
@Html.Action("LastViewKnowledge")
           </fieldset></div>
   <div>
        <fieldset>
            <legend>最后添加</legend>
@Html.Action("LastAddKnowledge")
            </fieldset>
            </div>

<div id="saveDialog" title="Address Information">
</div>