@model TeachPlan.Knowledge
@{
    ViewBag.Title = "KnowledgeDetail";
}
<div>@Model.Title</div>
<div>@Model.CreateDate.ToString("YYYY-MM-DD hh:mm")</div>
<div>@Model.Content</div>
<div id="comments">

<ul>
    @foreach (var comment in Model.Comments)
    {
        <li>
            <div>
                @comment.UserInfo.Name</div>
            <div>@comment.CreateDate.ToString("YYYY-MM-DD hh:mm")</div>
            <div>
                @comment.Content</div>
        </li>
    }
</ul>
</div>

@Html.Partial("_AddComment", null)